header
  .top
    height 50px
    background #999
    color #fff
    line-height inherit
  .bottom
    height 100px
    background #e6e6e6
  .top
  .bottom
    border-bottom 1px solid $bgBorder

.action-bar
  height 50px
  border-bottom 1px solid $bgBorder

.wrap-inner
  min-width 980px
  max-width 1200px
  margin 0px auto

.sidebar
  float left
  width 200px
  padding 10px 0px

.global-wrapper
  width 100%
  min-height 100%
  position absolute
  &::after
    content ""
    clear both
    display table
    height 50px

.content-area
  margin 0px 0px 0px 250px
  padding 10px 0px
  overflow visible

.body-wrapper
  position relative
