body, html
  margin 0px
  padding 0px
  font 14px Tahoma
  color #000

a
  color inherit
  text-decoration none
  cursor pointer

button
  cursor pointer

div, p, a, header, footer, ul, li, span, form, img
  margin 0px
  padding 0px
  border none

div, p, a, header, footer, ul, li, span, form, img, input, button, textarea
  box-sizing border-box
  font inherit
  outline none