.sidebar {
  width: 200px;
  float: left;
  padding: 10px 0px;
}

.sidebar > ul {
  margin: 0;
  padding: 4px 3px 2px 3px;
  border: 1px solid #ddd;
  border-radius: 2px;
  list-style: none;
}

.sidebar li {
  height: 32px;
  line-height: 28px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0 0 3px 0;
  width: 100%;
  text-align: left;
  padding: 1px;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #ffffff, #eee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eee);
  background-image: -o-linear-gradient(top, #ffffff, #eee);
  background-image: linear-gradient(to bottom, #ffffff, #eee);
}

.sidebar li a,
.sidebar li span {
  color: #003;
  padding: 0 32px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  text-shadow: rgba(0,0,0,.1) 0px 0px 1px;
}

.sidebar li.active { margin: 4px 0 2px 0 }

.sidebar li:hover,
.sidebar li.active {
  background-color: #58b059;
  background-image: none;
  border: 1px solid #58b059;
}

.sidebar li:hover a,
.sidebar li.active a {
  color: #fff;
  text-shadow: rgba(255,255,255, .5) 0 0 1px;
  text-decoration: none;
}